@media only screen and (max-width : 700px) {
  fieldset.submit{
    margin: 5px 0;
    position: relative;
    height:40px;
  }

  div.form-submit{
    position: absolute;
    right:0;
    width:30px;
    height: 40px;
    margin:0;
    background:transparent url('/images/wildfire.interface.mobile/icons/menu-small.png') no-repeat center 15px;
  }
  div.form-submit:hover{
    cursor: pointer;
    background-color: #dfdfdf;
    height: auto;
  }

  div.form-submit .submit_field{
    width:140px;
    margin:0 0 0 -110px;
    border-radius: 0;
    display: none;
    position: relative;
    z-index: 10;
    text-align: right;
  }
    div.form-submit .submit_field:first-child{
      margin-top:45px;
    }
    div.form-submit:hover .submit_field{
      display:block;
    }

}