.button{
  -webkit-appearance: none;
}
@media only screen and (max-width : 900px) {
  .button{
    margin-bottom:8px;
    font-size:87%;
  }
}
@media only screen and (max-width : 700px) {
  .operations .button,
  .tree_operations .button{
    display:block;
    width:100px;
    text-align: center;
  }

  #logout_button{
    margin-right:40px;
  }
}
@media only screen and (max-width : 500px) {
  #logout_button{
    display: none;
  }
}
