@media only screen and (max-width : 700px) {
  #nav_container_block{
    position: fixed;
    right:0;
    top: 0;
    width:36px;
    height:55px;
    z-index:100;
    background:transparent url('/images/wildfire.interface.mobile/icons/menu.png') no-repeat center center;
  }
  #nav_container_block:hover,
  #nav_container_block.touched{
    background-image: url('/images/wildfire.interface.mobile/icons/menu-active.png');
  }
  #primary_navigation{
    position: fixed;
    height:auto;
    width:100px;
    padding:0;
    top:50px;
    margin:0;
    z-index:200;
    border-width: 0;
    display:none;
    background:#333333;
    margin-left:-64px;
  }
    #nav_container_block.touched #primary_navigation{
      display: block;
    }
  #primary_navigation li{
    width:100%;

    margin:0;
    padding:0;
  }

  #primary_navigation li a{
    color:#fff;
    display:block;
    padding:8px 10px;
    text-transform: uppercase;
    font-weight: normal;
  }

  #outer{
    margin-left:0;
    padding-bottom: 100px;
  }

  #cms-dashboard .indented .listing{
    margin:0 10px;
  }

  .intro_block_content{
    float:none;
  }
}