@media only screen and (max-width : 700px) {
  .tree_node,
  .data_table td.operations{
    overflow: visible;
    padding-right:35px;
    position: relative;
  }
  td.operations{
    padding:40px 30px 0 0;
    width:30px;
    min-height: 40px;
    position: relative;
  }
  .tree_operations,
  td.operations .inner_operations{
    position: absolute;
    right:0;
    width:30px;
    height: 40px;
    margin:2px 2px 2px 5px;
    background:transparent url('/images/wildfire.interface.mobile/icons/menu-small.png') no-repeat center 15px;
  }
  .tree_operations:hover,
  td.operations .inner_operations:hover,
  .tree_operations.touched,
  td.operations.touched .inner_operations{
    background-image:url('/images/wildfire.interface.mobile/icons/menu-small-active.png');
  }

    td.operations .inner_operations{
      top:0;
      margin:0;
    }
    .tree_operations.touched,
    td.operations.touched
    {
      cursor: pointer;
      background-color: #dfdfdf;
      height: auto;
    }

    .tree_operations a.button,
    td.operations a.button{
      margin:0 0 0 -70px;
      border-radius: 0;
      display: none;
      position: relative;
      z-index: 10;
      text-align: right;
    }
      .tree_operations a:first-child{
        margin-top:45px;
      }
      td.operations .inner_operations a:first-child{
        margin-top:40px;
      }
      .tree_operations.touched .button,
      td.operations.touched .button{
        display:block;
      }
  span.tree_col_status{
    margin:12px 0 3px 5px;
    text-indent: -999em;
    padding:4px 9px;
    border-radius: 300px;
    width:18px;
  }
  .tree_node em.date{
    width:60px;
  }

}